{% extends 'before_login.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Login!</h1>
                            </div>
                            
                            <form class="user" method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% for message in app.flashes('error') %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <input type="text" value="" name="username" id="inputUsername" class="form-control form-control-user" placeholder="Username" autocomplete="new-password" required autofocus>
                                    
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="inputPassword" class="form-control form-control-user" placeholder="Password" autocomplete="new-password" required>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> 
                                <button class="btn btn-primary btn-user btn-block"> Login </button> 
                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small" href="{{ path('app_register') }}">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
