{% extends 'before_login.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}

                        {% for error in errors %}
                            <div class="alert alert-danger" role="alert">{{ error.message }}</div>
                        {% endfor %}

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        
                        {{ form_start(registrationForm, {'attr': {'class': 'user'}}) }}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form_widget(registrationForm.username, {'attr': {'class':'form-control form-control-user', 'placeholder': 'Username', 'autocomplete': 'new-password'}}) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_widget(registrationForm.email, {'attr': {'class':'form-control form-control-user', 'placeholder': 'Email-id'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form_widget(registrationForm.password.first, {'attr': {'class':'form-control form-control-user', 'placeholder': 'Password', 'autocomplete': 'new-password'}}) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_widget(registrationForm.password.second, {'attr': {'class':'form-control form-control-user', 'placeholder': 'Repeat password'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    {{ form_widget(registrationForm.agreeTerms) }}
                                    {{ form_label(registrationForm.agreeTerms, 'I agree to terms and conditions') }}
                                </div>
                            </div>
                            <button class="btn btn-primary btn-user btn-block">
                              Register Account
                            </button>
                        {{ form_end(registrationForm) }}
                      <hr>
                      <div class="text-center">
                        <a class="small" href="{{ path('app_login') }}">Already have an account? Login!</a>
                      </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
