{% extends 'after_login.html.twig' %}

{% block title %}Lists{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Lists</h1>
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addListModal">
            <i class="fa fa-plus"></i>
            Add new list
        </button> 
    </div>
    <div class="row listsDiv">
        {% for list in lists %}
            {% set list_id = list.id %}
            <div class="col-lg-4 listFor">
                <div class="card shadow mb-4">
                    <div class="d-block card-header py-3">
                        <a href="#collapseCardExample{{ list_id }}" class="" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample{{ list_id }}">
                            <h6 class="m-0 font-weight-bold text-primary listNameHead{{list_id}}">{{ list.name }}</h6>
                        </a>
                        <form id="deleteListForm" action="{{ path('lists_delete', {'id': list.id|base64_encode}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ list.id) }}">
                            <button class="list_delete_icon" title="Delete list"><i class="fa fa-times "></i></button>
                        </form>

                        <a class="list_edit_icon" title="Edit list" hitUrl="{{ path('lists_detail', {'id': list_id|base64_encode}) }}"><i class="fa fa-edit"></i></a>
                    </div>
                    <div class="collapse show" id="collapseCardExample{{ list_id }}">
                        <div class="card-body">
                            <div class="item_add_btn">
                                <button class="btn btn-info add_item_btn" thisList="{{ list_id|base64_encode }}">
                                    <i class="fa fa-plus"> </i> Add item
                                </button>
                            </div>
                            
                            <div class="itemDiv thisList{{ list_id }}">
                                {% set break = true %}
                                {% for items in list.listItems %}
                                    {% if break %}
                                        {% if items.placedAt == "top" %}
                                            <div class="px-3 py-3 bg_list_item thisItem" style="color: {{items.color}};">
                                                <form id="deleteItemForm" action="{{ path('list_items_delete', {'id': items.id|base64_encode}) }}">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ items.id) }}">
                                                    <button class="itm_del_icon" title="Delete item"><i class="fa fa-times"></i></button>
                                                </form>
                                                {{ items.itemName }}
                                            </div>
                                        {% else %}
                                            {% set break = false %}
                                            {% for items in list.listItems|reverse %}
                                                {% if items.placedAt == "bottom" %}
                                                        
                                                    <div class="px-3 py-3 bg_list_item thisItem" style="color: {{items.color}};">
                                                        <form id="deleteItemForm" action="{{ path('list_items_delete', {'id': items.id|base64_encode}) }}">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ items.id) }}">
                                                            <button class="itm_del_icon" title="Delete item"><i class="fa fa-times"></i></button>
                                                        </form>
                                                        {{ items.itemName }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        {% else %}

            <div class="col-lg-12 noList">
                <div class="card shadow mb-16">
                    <div class="card-body no_record">
                      No record found.
                      <a href="javascript:void(0);" data-toggle="modal" data-target="#addListModal">Create new</a>
                    </div>
                </div>
            </div>    

        {% endfor %}

    </div>
</div>

{% endblock %}
