.bg-register-image{
	background:url(/images/project_pic.jpg);
	background-position: center;
	background-size: cover;  
}

.no_record {
	margin: 0px auto;
	font-size: 50px;
	height: 200px;
	padding: 50px 0px;
}

.add_list_label {
	margin: auto 0px;
}

.list_delete_icon {
	float: right;
	color: #e74a3b;
	font-size: 25px;
	margin-top: -25px;
	cursor: pointer;
	border: 0px;
	height: 0;
}

.pull-right{
	float: right;
}

#list_item_placed_at input {
	margin: 0px 5px 0px 20px;
}

.add_item_btn {
	/*margin-bottom: 10px;*/
	padding: 2px 8px;
}

.itm_del_icon {
	/*border: 1px solid #4e95e9;*/
	padding: 0px 5px;
	color: #4e95e9;
	margin-right: 5px;
	float: right;
	border: 0;
}

.container-fluid {
	min-height: 484px;
}

.list_edit_icon {
	float: right;
	margin-top: -20px;
	margin-right: 35px;
	cursor: pointer;
	font-size: 17px;
}