<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{{ path('app_logout') }}"">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New list</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {{ form_start(form, {'action': path('lists_new'), 'method': 'POST', 'attr': {'id': 'listForm', 'class': 'user' }}) }}
                <div class="modal-body">
                    <div class="form-group row">

                        <div class="col-md-2 add_list_label">
                            {{form_label(form.name)}}
                        </div>
                        <div class="col-md-8">
                            {{ form_widget(form.name, {'attr': {'class':'form-control ', 'placeholder': 'List name'}}) }}
                        </div>

                        {{ form_widget(form.user_id, {'attr': {'value': app.user.id|base64_encode }}) }}
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <button class="btn btn-primary">{{ button_label|default('Create') }}</button>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit list</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form class="user" action="{{ path('lists_edit') }}" id="editListForm">                
                <div class="modal-body">
                    <div class="form-group row">

                        <div class="col-md-2 add_list_label">
                            Name
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="name" class="form-control" placeholder="List name" id="get_list_name" required>
                        </div>
                        <input type="hidden" name="list_id" value="" id="get_list_id">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <button class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add item</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {{ form_start(itemform, {'action': path('list_items_new'), 'method': 'POST', 'attr': {'id': 'listItemForm', 'class': 'user' }}) }}
                <div class="modal-body">
                    <div class="form-group row">

                        <div class="col-md-3 add_list_label">
                            {{form_label(itemform.item_name)}}
                        </div>
                        <div class="col-md-7">
                            {{ form_widget(itemform.item_name, {'attr': {'class':'form-control ', 'placeholder': 'List item name'}}) }}
                        </div>

                        {{ form_widget(itemform.list_id, {'attr': {'getListid': '' }}) }}
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            Placed at
                        </div>
                        <div class="col-md-7">
                            {{ form_widget(itemform.placed_at) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            Pick color
                        </div>
                        <div class="col-md-7">
                            {{ form_widget(itemform.color, {'attr': {'class':'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-7">
                            <button class="btn btn-primary">{{ button_label|default('Create') }}</button>
                        </div>
                    </div>
                </div>
                {{ form_row(itemform._token) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>