<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - Pilot</title>

    {% block stylesheets %}
        <link href="{{ asset('/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <link href="{{ asset('/css/sb-admin-2.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/custom.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- {# include 'common/sidebar.html.twig' #} -->
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <!-- Topbar -->
                    {% include 'common/header.html.twig' %}    
                <!-- End of Topbar -->

                {% block body %} {% endblock %}
            </div>
            
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Pilot {{ 'now' | date('Y') }} </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include 'common/modals.html.twig' %}

    {% block javascripts %}

        <script src="{{ asset('/js/jquery.min.js') }} "></script>
        <script src="{{ asset('/js/bootstrap.bundle.min.js') }} "></script>
        <script src="{{ asset('/js/jquery.easing.min.js') }} "></script>
        <script src="{{ asset('/js/sb-admin-2.min.js') }}"></script>
        <script src="{{ asset('/js/custom.js') }}"></script>

    {% endblock %}

</body>
</html>
