<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %} - Pilot</title>

        {% block stylesheets %}
            <link href="{{ asset('/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

            <link href="{{ asset('/css/sb-admin-2.min.css') }}" rel="stylesheet">
            <link href="{{ asset('/css/custom.css') }}" rel="stylesheet">
        {% endblock %}
    
    </head>
    <body class="bg-gradient-primary">
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}

            <script src="{{ asset('/js/jquery.min.js') }} "></script>
            <script src="{{ asset('/js/bootstrap.bundle.min.js') }} "></script>
            <script src="{{ asset('/js/jquery.easing.min.js') }} "></script>
            <script src="{{ asset('/js/sb-admin-2.min.js') }}"></script>

        {% endblock %}
    
    </body>
</html>